.label-qu {
  width: 6.875rem /* 110/16 */;
}
.right_main_under {
  width: 99%;
  height: 97%;
  position: relative;
  padding-left: 10px ;
  padding-top: 10px;
  box-sizing: border-box;
  /*统计的form*/
  /* form 表单项宽度*/
  /* form 表单项背景字体修改*/
}
.right_main_under .static_form .el-date-editor .el-range-input,
.right_main_under .static_form .el-date-editor .el-range-separator {
  background-color: #052666;
  color: #c0c4cc;
}
.right_main_under .static_form .el-date-editor .el-range-input {
  color: #fdf6ec;
}
.right_main_under .static_form .el-button--primary {
  color: #6c50f3;
  background-color: #08162f;
  border-color: #143572;
}
.right_main_under .static_form .el-button--primary:hover {
  color: #a6d0ff;
}
.right_main_under .static_form .el-button.is-loading:before {
  background-color: #01162d00;
}
.right_main_under .el-date-editor--daterange.el-input {
  width: 300px;
}
.right_main_under .el-date-editor--daterange.el-input__inner {
  width: 250px;
}
.right_main_under .el-date-editor--timerange.el-input {
  width: 300px;
}
.right_main_under .el-date-editor--timerange.el-input__inner {
  width: 300px;
}
.right_main_under .el-input--mini .el-input__inner {
  width: 250px;
}
.right_main_under .bottom .ss .el-input--mini .el-input__inner {
  width: 100px;
}
.right_main_under .search_select_form .el-date-editor .el-range-input,
.right_main_under .search_select_form .el-date-editor .el-range-separator {
  background-color: #254965;
  color: #c0c4cc;
}
.right_main_under .search_select_form .el-date-editor .el-range-input {
  color: #fdf6ec;
}
.right_main_under .tableStyle th {
  background-color: #fff;
}
.right_main_under .tableStyle th.is-leaf {
  border-bottom: 0;
}
.right_main_under .tableStyle tr {
  background-color: #fff;
  height: 40px;
}
.right_main_under .tableStyle td {
  border-bottom: 1px solid #07293f;
}
.right_main_under .tableStyle td .cell .el-tag {
  background-color: transparent;
  border-color: #2b3440;
  margin-right: 2px;
}
.right_main_under .tableStyle th.gutter {
  display: table-cell !important;
}
.right_main_under .tableStyle colgroup.gutter {
  display: table-cell !important;
}
.right_main_under .tableStyle .warning-row {
  background: oldlace;
}
.right_main_under .tableStyle .success-row {
  background: #01162d;
}
.right_main_under .tableStyle .el-table__body {
  width: 100% !important;
}
.right_main_under .tableStyle .el-table__body-wrapper {
  overflow-y: scroll;
}
.right_main_under .tableStyle .el-table__body-wrapper::-webkit-scrollbar {
  /*width: 0;宽度为0隐藏*/
  width: 5px;
}
.right_main_under .tableStyle .el-table__body-wrapper::-webkit-scrollbar-thumb {
  height: 30px;
}
.right_main_under .tableStyle ::-webkit-scrollbar {
  width: 7px;
}
.right_main_under .tableStyle ::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
.right_main_under .tableStyle td,
.right_main_under .tableStyle th.is-leaf {
  border: 0;
  text-align: center;
  border-bottom: 1px solid rgba(68, 68, 68, 0.158);
}
.right_main_under .tableStyle .el-checkbox__inner {
  border: 1px solid #555;
  background-color: rgba(238, 238, 238, 0);
}
.right_main_under .tableStyle .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #041b3e9c !important;
}
.right_main_under .tableStyle .demo-table-expand {
  font-size: 0;
}
.right_main_under .tableStyle .demo-table-expand label {
  width: 140px;
  color: #99a9bf;
}
.right_main_under .tableStyle .demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}
.right_main_under .tableStyle .el-table__expanded-cell {
  background-color: #01162d;
  text-align: left;
}
.right_main_under .tableStyle .el-table__empty-block {
  background-color: #fff;
}
.right_main_under .tableStyle1 th {
  background-color: #fff;
}
.right_main_under .tableStyle1 th.is-leaf {
  border-bottom: 0;
}
.right_main_under .tableStyle1 tr {
  background-color: #fff;
  height: 30px;
}
.right_main_under .tableStyle1 td {
  border-bottom: 1px solid #07293f;
}
.right_main_under .tableStyle1 td .cell .el-tag {
  background-color: transparent;
  border-color: #2b3440;
  margin-right: 2px;
}
.right_main_under .tableStyle1 th.gutter {
  display: table-cell !important;
}
.right_main_under .tableStyle1 colgroup.gutter {
  display: table-cell !important;
}
.right_main_under .tableStyle1 .warning-row {
  background: oldlace;
}
.right_main_under .tableStyle1 .success-row {
  background: #01162d;
}
.right_main_under .tableStyle1 .el-table__body {
  width: 100% !important;
}
.right_main_under .tableStyle1 .el-table__body-wrapper {
  overflow-y: scroll;
}
.right_main_under .tableStyle1 .el-table__body-wrapper::-webkit-scrollbar {
  /*width: 0;宽度为0隐藏*/
  width: 5px;
}
.right_main_under .tableStyle1 .el-table__body-wrapper::-webkit-scrollbar-thumb {
  height: 30px;
}
.right_main_under .tableStyle1 ::-webkit-scrollbar {
  width: 7px;
}
.right_main_under .tableStyle1 ::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
.right_main_under .tableStyle1 td,
.right_main_under .tableStyle1 th.is-leaf {
  border: 0;
  text-align: center;
  border-bottom: 1px solid rgba(68, 68, 68, 0.158);
}
.right_main_under .tableStyle1 .el-checkbox__inner {
  border: 1px solid #555;
  background-color: rgba(238, 238, 238, 0);
}
.right_main_under .tableStyle1 .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #041b3e9c !important;
}
.right_main_under .tableStyle1 .demo-table-expand {
  font-size: 0;
}
.right_main_under .tableStyle1 .demo-table-expand label {
  width: 140px;
  color: #99a9bf;
}
.right_main_under .tableStyle1 .demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}
.right_main_under .tableStyle1 .el-table__expanded-cell {
  background-color: #01162d;
  text-align: left;
}
.right_main_under .tableStyle1 .el-table__empty-block {
  background-color: #fff;
}
.right_main_under .el-input__inner  {
  background-color: #fff;
  border: 1px solid #394865;
  color: #000;
}
.right_main_under .el-textarea__inner{
  background-color: #fff;
  border: 1px solid #394865;
  color: #000;
}
.right_main_under .el-range-editor.is-active,
.right_main_under .el-range-editor.is-active:hover,
.right_main_under .el-textarea__inner:focus,
.right_main_under .el-select .el-textarea__inner:focus,
.right_main_under .el-select .el-textarea.is-focus .el-textarea__inner {
  border-color: #606266;
}
.right_main_under .el-range-editor.is-active,
.right_main_under .el-range-editor.is-active:hover,
.right_main_under .el-input__inner:focus,
.right_main_under .el-select .el-input__inner:focus,
.right_main_under .el-select .el-input.is-focus .el-input__inner {
  border-color: #606266;
}
.right_main_under .dialogInfo .el-dialog__body {
  border-top: 0;
  border-bottom: 0;
}
.right_main_under .dialogInfo .el-dialog__footer {
  border-top: 0;
}
.right_main_under .dialogInfo .el-dialog__title {
  color: #000;
}
.right_main_under .pagePagination {
  margin-top: 10px;
  color: #7e8e9e;
}
.right_main_under .pagePagination button:disabled {
  background-color: transparent;
}
.right_main_under .pagePagination .btn-prev,
.right_main_under .pagePagination .btn-next {
  background: center center no-repeat transparent;
  color: #7e8e9e;
}
.right_main_under .pagePagination .el-pager li {
  background-color: transparent;
}
.right_main_under .pagePagination .el-pager li:hover {
  color: #05f2f2;
  font-size: 12px;
}
.right_main_under .pagePagination .el-pager li.active {
  color: #000;
}
.right_main_under .pagePagination .el-pager li.btn-quicknext,
.right_main_under .pagePagination .el-pager li.btn-quickprev {
  color: #7e8e9e;
}
.right_main_under .pagePagination .el-input__inner {
  background-color: rgba(238, 238, 238, 0);
  border: 1px solid #606266;
  height: 20px;
}
.right_main_under .pagePagination .el-input__inner:hover {
  border: 1px solid #606266;
}
.right_main_under .upload_demo {
  display: inline-block;
}
.right_main_under .upload_demo .el-upload--text {
  height: 0px;
  width: 0px;
  line-height: 0px;
  display: inline;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}
.right_main_under .upload_demo .el-upload-list {
  display: inline-block;
}
.right_main_under .upload_demo .el-upload-list__item {
  line-height: 1;
}
.right_main_under .upload_demo .el-upload-list__item:first-child {
  margin-top: 0px;
}
.right_main_under .upload_demo .el-upload-list__item-name,
.right_main_under .upload_demo .el-upload-list__item {
  display: inline;
}
.right_main_under .upload_demo .el-upload-list__item:hover {
  background-color: #00000000;
}
.right_main_under .upload_demo .el-upload-list__item .el-icon-close {
  top: 0;
}
.right_main_under .el-radio__inner {
  width: 23px !important;
  height: 23px !important;
}
